<div>
  <ui-gmap-google-map
    center='$ctrl.map.center'
    zoom='$ctrl.map.zoom'>
      <ui-gmap-marker ng-repeat='marker in $ctrl.markers'
        idKey = 'marker._id'
        coords = 'marker.coords'>
      </ui-gmap-marker>
      <ui-gmap-marker ng-repeat='rdv in $ctrl.rdvList'
      idKey = 'rdv._id'
      coords = 'rdv.coords'>
      </ui-gmap-marker>
  </ui-gmap-google-map>

  <br />

<div class='container-fluid'>

  <button type="submit" class="btn btn-primary" ng-click='$ctrl.addPersonCoordsToServer()'>Make Visible!</button>


  <br />
  <h1>Destinations:</h1>
  <ul>
    <li ng-repeat="rdv in $ctrl.rdvList" class='address'>
     {{ rdv.address}}
    <button type="button" class="close" ng-click="$ctrl.deleteRdv(rdv)"><button type="button" class="danger" ng-click="$ctrl.deleteRdv(rdv)">&times;</button></li>
  </ul>

  <br />


    <div angular-google-maps-geocoder
      placeid='{{$ctrl.placeId}}'
      output="$ctrl.output"
      placeholder="Rendezvous point..."
      min-length="2"
      wait-ms="500">
    </div>
    <br />
    <button type="submit" class="btn btn-primary" ng-click='$ctrl.addRdv()'>Add</button>
</div>



