<div>
  <ui-gmap-google-map
    center='$ctrl.map.center'
    zoom='$ctrl.map.zoom'>
  </ui-gmap-google-map>

  <br />
  <br />

  <ul>
    <li ng-repeat="rdv in $ctrl.rdvList">
    {{rdv.title}} - {{rdv.originAddress}} - {{ rdv.destinationAddress}}
    </li>
  </ul>

  <br />
  <br />

  <form class="add-rdv" ng-submit="$ctrl.addRdv()">
    <input type="text" class="form-control"  ng-model="$ctrl.title" placeholder="title">
    <input type="text" class="form-control"  ng-model="$ctrl.originAddress" placeholder="start">
    <input type="text" class="form-control"  ng-model="$ctrl.destinationAddress" placeholder="end">
    <input type="submit" class="btn btn-add" value="+">
  </form>

</div>



