<div>
  <ui-gmap-google-map
    center='$ctrl.map.center'
    zoom='$ctrl.map.zoom'>
      <ui-gmap-marker
        idKey = '$ctrl.mapMarker.idKey'
        coords = '$ctrl.mapMarker.coords'>
      </ui-gmap-marker>
  </ui-gmap-google-map>

  <br />

  <ul>
    <li ng-repeat="rdv in $ctrl.rdvList">
    Destination: {{ rdv.destinationAddress}}
    <button type="button" class="close" ng-click="$ctrl.deleteRdv(rdv)"><button type="button" class="close" ng-click="$ctrl.deleteRdv(rdv)">&times;</button></li>
  </ul>

  <br />

  <form class="rdv-form">
    <br />
    <input type="text" class="form-control" ng-model="$ctrl.newRdv" placeholder="Enter your Rendezvous address here">
    <br />
    <button type="submit" class="btn btn-primary" ng-click='$ctrl.addRdv()'>Add</button>
  </form>

</div>



